/* Whole document: */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i|Lora:400,400i,700,700i&display=swap');

.navbar-default {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}



body {
	font-size: 19px;
}

h1 h2 h3 h4 {
  padding-top: 2em !important;
  margin-top: -1em !important;
}



.alert-info {
  padding: 1.5em;
  background-color: #a0d1ef !important;
}

.alert-note {
  color: #777777;
  background-color: #f6f3f3;
  width: 90%;
  margin: 0 auto;
}


blockquote {
  margin: 0 0 0 0 !important;
  padding: 0.5px 21px;  /* I changed from default of 10.5px 21px*/
}

.blockquote-note {
  color: #777777;
  background-color: #f6f3f3;
  width: 90%;
  margin: 0 auto;
}


 .container-fluid {                  /* margin: 0 Left-aligns container; margin: auto to "center" (Default)*/
    margin-right: auto !important; 
    margin-left: auto !important;
} 


.row-fluid{
  display: flex;
  position: relative;
}

/*
.col-xs-12 .col-sm-4 .col-md-3{
  width: 25%;
  position: relative;
}

/*TOCIFY code*/


div.tocify {
    width: 100% !important;
    max-width: 260px;
    max-height: 85%;
    font-size: 16px;
} 


.tocify {
  border: none;
  position: -webkit-sticky;
  position: sticky; 
  top: 60px; 
  width: 100%;
}

#TOC {
  position: -webkit-sticky !important;
  position: sticky !important;
}


.toc-content {
  width: 75%;
  font-family: Lora;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: none;
    color: gray;
}

.list-group-item:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}

.list-group-item.active{
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:focus {
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:hover {
  z-index: 2;
  color: DarkSlateGray;
  background-color: white;
  border: none;
}


.foot_image {
  width: 50px;
  filter: grayscale(0%);
  margin-left: 1em;
  margin-right: 1em;
}

.foot {
  font-size: .75em;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
}

.foot hr{
  width: 80%;
}


.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}



/* LARGE IMAGE AT TOP OF EACH MODULE PAGE*/
.image-descript {
    position: relative;
}


.button {
  border: 2px solid white;
  background-color: #0000001a;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 auto;
  width: 150px;
  text-transform: uppercase;
}

.button:hover {
  background-color: white;
  color: DarkSlateGray;
  text-decoration: none !important;
}

a.button-landing-page {
    color: white !important;
    border: none;
    text-decoration: none !important;
}


a.button-landing-page:focus{
    z-index: 2;
    color: DarkSlateGray;
    border: none;
    text-decoration: none !important;
}

a.button-landing-page:hover{
    z-index: 2;
    color: DarkSlateGray;
    border: none;
    text-decoration: none !important;
}

body, html {
  height: 100%;
}



/*.big_image is for module pages*/

.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
  }
  
.lil-image-text { 
    color: white;
    margin-top: 0px;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
    padding-top: 0px;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
      color: #fff;
  }


/*@media screen and (max-width: 300px) {
 .image-descript {
  display: none;
 }*/

.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center; 
  display:block;
  color: #fff;
  margin-bottom: 3rem;
}

.color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) and (max-width: 479px) {
.lil-image-text {
    font-size: 1rem;
  }

  .big-image-text {
    line-height: normal;
    font-size: 1.5rem;
  }

  .back-panel {
    margin-top: 0;
  }
  .back-panel-contents {
    display: block;
  }

  .landing-subimage {
    width: 75%;
    margin: 0 auto;
  }

  .color-textbox {
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .color-textbox-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding: 0rem;
  }

  .color-textbox-text{
    font-size: 1.5rem;
    padding: 0rem;
  }

}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 540px) {
  .color-textbox-title{
    font-size: 1.5rem;
    padding: 2.25rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.4rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}

@media only screen and (min-width: 541px) and (max-width: 649px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 2.5rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.75rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


@media only screen and (min-width: 650px) and (max-width: 767px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 4rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 2rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


/*iPad portrait*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .color-textbox-title{
    font-size: 2.35rem;
    padding: 6rem 0rem 0rem 0rem;
  }

  .color-textbox-text{
    font-size: 2.25rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


/*iPad Pro portarit */

@media only screen and (min-width: 1024px) and (max-width: 1225px) {
  .color-textbox-title{
    font-size: 3rem;
    padding: 6rem 0rem 0rem 0rem;
  }

  .color-textbox-text{
    font-size: 3rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}



@media only screen and (max-width: 768px) {
  .lil-image-text {
    font-size: 15px;
  }

  .big-image-text {
    line-height: normal;
    font-size: 31px;
  }

  .col-xs-12.col-sm-4.col-md-3 {
    display: none !important;
  }
}
