/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i|Lora:400,400i,700,700i&display=swap');



.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}
  th {
    background-color: #75AADB;
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }

  td {
    background-color: rgb(238, 238, 238);
    font-color: #4D4D4D;
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }

/* Whole Document*/

body {
	font-size: 19px;
	font-family: 'Karla';
}

a { /* links */
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}


/*----------------ADDING WHITE SPACE-------------*/

/* Between headers */
h1, h2, h3, h4, h5 {
  padding-top: 3em !important;
  padding-bottom: 40px;
  margin-top: -1em !important;
}

/* Between TOC and Righthand side content on large screens */

@media (min-width: 992px) {
  .col-md-9 {
    width: 75%;
    padding-left: 4em !important;
  }
}

/*------------Table of Contents (TOC)----------- */

div.tocify {
    width: 100% !important;
    max-width: 260px;
    max-height: 85%;
    font-size: 16px;
}

.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
}

.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}

.list-group-item.active, .list-group-item.active:hover{ /* Active TOC links*/
  color: #787878;
  background-color: #ffffff;
  border-color: #ccc;
}

.list-group-item:hover { /* Hovered TOC links*/
  color: #787878;
  background-color: #ffffff;
  border: none;
}



/* ADD A LOGO. THREE OPTIONS */

/*1: For logo immediately above TOC, use style rule below, otherwise comment out*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 20px 20px 40px 20px;
  background-image: url("logo-black.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


/* 2: For logo above title in upper righthand corner, inline with Title and Author, when also used with logo.HTML before_body. use style rule below. otherwise comment out*/

/*
.upper-right-logo {
  margin-top: 20px;
  background-image: url("logo-black.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
*/


/* 3: For logo to be in upper righthand corner, ABOVE title and author */
/* not recommended if using TOC float */
/*
#header.fluid-row::before {
  content: "";
  display: block;
  margin-top: 20px;
  background-image: url("logo-black.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
*/




/* Large image at the top */

.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
  }


/* FOOTER */

.tocify-extend-page {
  height: 0px !important; /* Gets rid of empty space below footer*/
}
